body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-input {
  max-width: 350px;
}

.ant-row {
  max-width: 350px;
}

.editable-cell-value-wrap {
  display: inline-block;
  max-width: 325px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

.login-card {
  min-width: 398px;
}
.login-form {
  width: 350px;
}
.login-form-button {
  width: 100%;
}
